@model IEnumerable<proyecto.Bussines.Department>

@{
    ViewBag.Title = "Index";
}

<style>
    .modal-backdrop {
        backdrop-filter: blur(5px); /* Aplica desenfoque */
        background-color: rgba(0, 0, 0, 0.5) !important; /* Fondo más oscuro */
    }

    .modal-dialog {
        max-width: 80vw; /* 80% del ancho de la pantalla */
        width: 80vw;
    }

    .modal-content {
        height: auto;
        padding: 20px;
        width: 40vw;
    }

    #btnRol {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<h2 class="text-center my-4">Departamentos</h2>

<div class="container" style="background-color: #f8f9fa; padding: 30px; border-radius: 10px; box-shadow: 0 2px 6px rgba(0,0,0,0.1); font-size: 14px; margin-top: 30px;margin-bottom:30px">

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCrear" id="btnEstado">
        Crear Departamento
    </button>  
    <br />
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <button type="button" onclick="modalEliminar(@item.Id)" class="btn btn-link p-0" style="padding: 0 5px 0 5px; color: red" data-toggle="modal" data-target="#modalEliminar">
                        <i class="fa fa-lg fa-trash"></i>
                    </button>
                </td>
            </tr>
        }

    </table>
</div>
    @*@using (Html.BeginForm("Eliminar", "Department", FormMethod.Post, new { @id = "frmEliminar" }))
    {
        @Html.Hidden("idEstado");
    }*@

    <!-- Modal Eliminar -->
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Deseas eliminar este Departamento y los Responsables asociados</h4>
                    <span style="display:none" id="deleteDepartmentId"></span>
                </div>
                <div style="padding:1em">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="Eliminar()" class="btn btn-success">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Agregar-->
    <div class="modal fade" id="modalCrear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Crear Departamento</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Crear", "Department", FormMethod.Post, new { @id = "frmEstado" }))
                    {
                        @Html.Label("Nombre")
                        @Html.TextBox("Name", null, new { @class = "form-control", @id = "txtNameEstado", maxlength = "50" })
                        <br />

                        @Html.Label("Descripción")
                        @Html.TextArea("Description", null, new { @class = "form-control", @id = "txtDescripcionEstado", rows = "3", maxlength = "100" })
                    }

                </div>
                <div style="padding:1em">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="Agregar()" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            // Limpiar input cuando se cierra el modal
            $('#modalCrear').on('hidden.bs.modal', function () {
                $('#txtNameEstado').val('');
                $('#txtDescripcionEstado').val('');
            });
        });

        function Agregar() {
            var frmEstado = document.getElementById("frmEstado");
            frmEstado.submit();
        }

        //function modalEliminar(id) {
        //    document.getElementById("idEstado").value = id
        //}

        //function Eliminar() {
        //    var frmEliminar = document.getElementById("frmEliminar");
        //    frmEliminar.submit();
        //}

        function modalEliminar(id) {
            document.getElementById("deleteDepartmentId").value = id
        }

        function Eliminar() {
            var aId = $("#deleteDepartmentId").val();

            $.ajax({
                url: '/Department/Eliminar?departmentId=' + aId,
                type: 'POST',
                success: function (res) {
                    if (res.message) {
                        alert(res.message);
                    } else {
                        window.location.href = '@Url.Action("Index", "Department")';
                    }
                    $('#modalEliminar').hide();
                    $(".modal-backdrop").hide();
                },
                error: function () {
                    $('#modalEliminar').hide();
                    $(".modal-backdrop").hide()
                    alert("Ocurrió un error inesperado.");
                }
            });
        }


    </script>
