@model IEnumerable<proyecto.Bussines.Audit>

@{
    ViewBag.Title = "Index Auditoria";
}

<style>
    .modal-backdrop {
        backdrop-filter: blur(5px); /* Aplica desenfoque */
        background-color: rgba(0, 0, 0, 0.5) !important; /* Fondo más oscuro */
    }

    .modal-dialog {
        max-width: 80vw; /* 80% del ancho de la pantalla */
        width: 80vw;
    }

    .modal-content {
        height: auto;
        padding: 20px;
        width: 40vw;
    }

    .estado-1 {
        background-color: #b0a1b37f;
        color: #004085;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }

    .estado-2 {
        background-color: #fff3cd;
        color: #856404;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }

    .estado-3 {
        background-color: #cce5ff;
        color: #8a6d3b;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }

    .estado-4 {
        background-color: #d4edda;
        color: #155724;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }

    .progress-container {
        height: 10px;
        background-color: #e9ecef;
        border-radius: 5px;
        overflow: hidden;
    }

    .progress-bar-black {
        background-color: black;
        height: 100%;
    }
</style>

<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<h2 class="text-center my-4">Auditorias</h2>

<div class="container" style="background-color: #f8f9fa; padding: 30px; border-radius: 10px; box-shadow: 0 2px 6px rgba(0,0,0,0.1); font-size: 14px; margin-top: 30px;margin-bottom:30px">

    <div class="row mb-3">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" id="btnCrear" onclick="CrearAuditoria()">
                Crear Auditoria
            </button>
        </div>
        @if (ViewBag.UserProfile != 4)
        {
            <div class="col-md-6 text-right">
                @using (Html.BeginForm("Index", "Audit", FormMethod.Get, new { @class = "form-inline justify-content-end" }))
                {
                    <div class="form-group mx-1" style="border-radius: 20px;">
                        @Html.Label("Departamento", new { @class = "mr-1" })
                        @Html.DropDownList("departmentId", new SelectList(ViewBag.Departamentos, "Id", "Name"), "Todos", new { @class = "form-control form-control-sm", @style = "border-radius: 8px" })
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary ml-2" title="Buscar">
                        <i class="fa fa-search"></i>
                    </button>
                }
            </div>
        }
    </div>

    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                Estado
            </th>
            <th>
                Progreso
            </th>
            <th>
                Departamento
            </th>
            <th>
                Auditor
            </th>
            <th>
                Opciones
            </th>
            <th> Crear Hallazgo</th>
            <th>
                Ver detalles
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    <span class="estado-@item.AuditStatus.Id">@item.AuditStatus.Name</span>
                </td>
                <td>
                    @{
                        var porcentaje = item.AuditStatus.Id == 1 ? 1 :
                                         item.AuditStatus.Id == 2 ? 30 :
                                         item.AuditStatus.Id == 3 ? 60 :
                                         item.AuditStatus.Id == 4 ? 100 : 0;
                    }
                    @if (porcentaje > 0)
                    {
                        <div class="progress-container">
                            <div class="progress-bar-black" style="width: @porcentaje%"></div>
                        </div>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @{
                        var auditorNames = new List<string>();
                        foreach (var auditor in item.Auditors)
                        {
                            auditorNames.Add(auditor.User.FullName);
                        }

                        var nombresMostrados = auditorNames.Take(3);
                        var auditores = string.Join(", ", nombresMostrados);
                        var tooltip = string.Join(", ", auditorNames);
                        if (auditorNames.Count > 2)
                        {
                            auditores += "...";
                        }
                    }
                    <span title="@tooltip">@auditores</span>
                </td>

                <td>
                    @if (item.AuditStatus.Id != 4)
                    {
                        <button type="button" onclick="CrearAuditoria(@item.Id)" data-toggle="tooltip" title="Editar auditoría" class="btn btn-link text-success p-0" style="padding: 0 5px 0 5px">
                            <i class="fa fa-lg fa-edit"></i>
                        </button>

                        <button type="button" onclick="modalEliminar(@item.Id)" data-toggle="tooltip" title="Eliminar auditoría" class="btn btn-link p-0" style="padding: 0 5px 0 5px; color: red" data-toggle="modal" data-target="#modalEliminar">
                            <i class="fa fa-lg fa-trash"></i>
                        </button>
                    }
                </td>

                <td>
                    @if (item.AuditStatus.Id != 4)
                    {
                        <button type="button" onclick="CrearHallazgo(@item.Id)" data-toggle="tooltip" title="Crear Hallazgo" class="btn btn-link text-info p-0" style="padding: 0 5px 0 5px">
                            <i class="fa fa-lg fa-plus-circle"></i>
                            <span class="sr-only">Crear hallazgo</span>
                        </button>
                    }
                </td>
                <td>
                    <button type="button" onclick="VerAuditoria(@item.Id)" data-toggle="tooltip" title="Detalle auditoría" class="btn btn-link text-info p-0" style="padding: 0 5px 0 5px">
                        <i class="fa fa-lg fa-eye"></i>
                    </button>
                </td>

            </tr>
        }

    </table>
</div>
@using (Html.BeginForm("Eliminar", "Audit", FormMethod.Post, new { @id = "frmEliminar" }))
{
    @Html.Hidden("id");
}
<!-- Modal Eliminar -->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Deseas eliminar esta Auditoria y sus Hallazgos</h4>
            </div>
            <div style="padding:1em">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Eliminar()" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar -->
<div class="modal fade" id="modalCrear" tabindex="-1" role="dialog" aria-labelledby="titleModalLabel">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="titleModalLabel">Crear Auditoria</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Formulario -->
            <div class="modal-body">
                <form id="frmAuditor">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" id="txtName" name="name" class="form-control" maxlength="50" />
                        <span class="text-danger" id="errorName" style="display:none;">* Campo obligatorio</span>
                    </div>

                    <div class="form-group">
                        <label>Fecha de Creacion</label>
                        <input type="date" id="txtCreateDate" name="create_date" class="form-control" />
                        <span class="text-danger" id="errorCreateDate" style="display:none;">* Campo obligatorio</span>
                    </div>

                    <div class="form-group">
                        <label>Fecha de Finalizacion</label>
                        <input type="date" id="txtEndDate" name="end_date" class="form-control" />
                        <span class="text-danger" id="errorEndDate" style="display:none;">* La fecha no debe ser menor a la de creacion</span>
                    </div>

                    <div class="form-group">
                        <label>Estado</label>
                        <select id="ddlEstado" name="idEstado" class="form-control">
                            <option value="">-- Seleccionar Estado --</option>
                        </select>
                        <span class="text-danger" id="errorEstado" style="display:none;">* Selecciona un estado</span>
                    </div>

                    <div class="form-group">
                        <label>Departamento</label>
                        <select id="ddlDepartment" name="idDepartamento" class="form-control">
                            <option value="">-- Seleccionar Departamento --</option>
                        </select>
                        <span class="text-danger" id="errorDepartamento" style="display:none;">* Selecciona un Departamento</span>
                    </div>

                    <div class="form-group">
                        <label>Auditor</label>
                        <select id="ddlAuditor" name="idAuditor" class="form-control">
                            <option value="">-- Seleccionar Auditor --</option>
                        </select>
                        <span class="text-danger" id="errorAuditor" style="display:none;">* Selecciona un Auditor</span>
                    </div>
                    <!-- Spinner -->
                    <div id="spinnerCrear" style="display:none; text-align:center;">
                        <i class="fa fa-spinner fa-spin fa-2x text-primary"></i>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" form="frmAuditor">Aceptar</button>
            </div>
        </div>
    </div>
</div>





<script>
        var auditoriaId = 0;
        $(document).ready(function () {
            $('#modalCrear').on('hidden.bs.modal', function () {
                limpiarCampos();
            });
            // Envío del formulario por AJAX
            $('#frmAuditor').submit(function (e) {
                e.preventDefault();

                if (!validarFormulario()) return;

                const audit = {
                    id: auditoriaId,
                    Name: $('#txtName').val(),
                    CreateDate: $('#txtCreateDate').val(),
                    EndDate: $('#txtEndDate').val(),
                    StatusId: $('#ddlEstado').val(),
                    DepartmentId: $('#ddlDepartment').val(),
                    AuditorId: $('#ddlAuditor').val()
                };
                $('#spinnerCrear').show();

                $.ajax({
                    url: '/Audit/Crear',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(audit),
                    success: function () {
                        $('#modalCrear').modal('hide');
                        location.reload(); // O actualizar la tabla sin recargar toda la página
                    },
                    error: function () {
                        alert('Error al crear la auditoria.');
                    },
                    complete: function () {
                        // Ocultar spinner, mostrar contenido
                        $('#spinnerCrear').hide();
                    }
                });
            });

        });

        function CrearAuditoria(id) {
            limpiarCampos();
            $('button .fa-trash').parent().css('display', 'inline-block');
            // Mostrar spinner, ocultar contenido
            $('#spinnerCrear').show();
            $.ajax({
                url: '/Audit/ObtenerDatos',
                type: 'GET',
                success: function (data) {
                    // Limpiar anteriores
                    $('#ddlEstado').empty().append('<option value="">-- Seleccionar Estado --</option>');
                    $('#ddlDepartment').empty().append('<option value="">-- Seleccionar Departamento --</option>');

                    if (data.auditorProfile) {
                        $('#ddlAuditor')
                            .empty()
                            .append($('<option>').val(data.auditores[0].Id).text(data.auditores[0].Name))
                            .prop('disabled', true);
                    } else {
                        $('#ddlAuditor').empty().append('<option value="">-- Seleccionar Auditor --</option>');
                        // Cargar auditores
                        $.each(data.auditores, function (i, auditor) {
                            $('#ddlAuditor').append($('<option>').val(auditor.Id).text(auditor.Name));
                        });
                    }

                    // Cargar estados
                    $.each(data.estados, function (i, estado) {
                        $('#ddlEstado').append($('<option>').val(estado.Id).text(estado.Name));
                    });

                    // Cargar departamentos
                    $.each(data.departamentos, function (i, departamento) {
                        $('#ddlDepartment').append($('<option>').val(departamento.Id).text(departamento.Name));
                    });

                    if (id > 0) {
                        auditoriaId = id;
                        $.ajax({
                            url: '/Audit/ObtenerAuditoria?id=' + id,
                            type: 'GET',
                            success: function (data) {
                                if (data.auditDTO) {
                                    $('#txtName').val(data.auditDTO.Name);

                                    $('#ddlEstado').val(data.auditDTO.StatusId);
                                    $('#ddlDepartment').val(data.auditDTO.DepartmentId);
                                    if (!data.auditorProfile) $('#ddlAuditor').val(data.auditDTO.AuditorId);

                                    // Convertimos la fecha al formato yyyy-MM-dd
                                    const createDate = new Date(data.auditDTO.CreateDateString);
                                    const fechaFormateada = createDate.toISOString().split('T')[0];
                                    $('#txtCreateDate').val(fechaFormateada);

                                    if (data.auditDTO.EndDateString != null || data.auditDTO.EndDateString != "") {
                                        const endDate = new Date(data.auditDTO.EndDateString);
                                        const finFormateada = endDate.toISOString().split('T')[0];
                                        $('#txtEndDate').val(finFormateada);
                                    }

                                    // Cambiamos título del modal si estás editando
                                    $('#titleModalLabel').text('Editar Auditoria');
                                } else {
                                    $('#titleModalLabel').text('Crear Auditoria');
                                }
                            },
                            error: function () {
                                alert('Error al obtener los datos.');
                                $('#spinnerCrear').hide();
                            }
                        });
                    }


                    // Ocultar spinner
                    $('#spinnerCrear').hide();

                    // Mostrar el modal
                    $('#modalCrear').modal('show');
                },
                error: function () {
                    alert('Error al obtener los datos.');
                    $('#spinnerCrear').hide();
                }
            });
        }

        function modalEliminar(id) {
            $('#modalEliminar').modal('show');
            document.getElementById("id").value = id
        }

        function Eliminar() {
            var frmEliminar = document.getElementById("frmEliminar");
            frmEliminar.submit();
        }

        // Validación
        function validarFormulario() {
            let valido = true;

            $('.text-danger').hide();
            if (!$('#txtName').val()) {
                $('#errorName').show(); valido = false;
            }
            if (!$('#txtCreateDate').val()) {
                $('#errorCreateDate').show(); valido = false;
            }

            if ($('#txtEndDate').val() && $('#txtCreateDate').val()) {
                let endDate = new Date($('#txtEndDate').val());
                let createDate = new Date($('#txtCreateDate').val());
                if (endDate < createDate) {
                    $('#errorEndDate').show();
                    valido = false;
                }
            }


            if (!$('#ddlEstado').val()) {
                $('#errorEstado').show(); valido = false;
            }
            if (!$('#ddlDepartment').val()) {
                $('#errorDepartamento').show(); valido = false;
            }
            if (!$('#ddlAuditor').val()) {
                $('#errorAuditor').show(); valido = false;
            }
            return valido;
        }

        // Función para limpiar
        function limpiarCampos() {
            $('#txtName').val('');
            $('#txtCreateDate').val('');
            $('#txtEndDate').val('');
            $('#ddlEstado').empty().append('<option value="">-- Seleccionar Estado --</option>');
            $('#ddlDepartment').empty().append('<option value="">-- Seleccionar Departamento --</option>');
            $('#errorAuditor').empty().append('<option value="">-- Seleccionar Auditor --</option>');
            $('.text-danger').hide();
            $('#spinnerCrear').hide();
        }


        function CrearHallazgo(id) {
            window.location.href = '/Finding/Crear?auditoriaId=' + id;
        }

        function VerAuditoria(id) {
            window.location.href = '/Audit/VerAuditoria/' + id;
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });



    function filtrarAuditorias() {        
        var departmentId = $("#DepartmentId").val();

        $.ajax({
            url: '@Url.Action("Index", "Audit")',
            data: {               
                departmentId: departmentId
            },
            success: function(response) {                
                $("#auditsTable").html(response);
            }
        });
    }
</script>
