@model proyecto.Bussines.Finding

@{
    ViewBag.Title = "Crear";
    var auditoriaId = ViewBag.AuditoriaId;
}

<h3>Crear Hallazgo</h3>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", style = "width: 50%" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control", style = "width: 50%" } })
            @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "height: 80px;width: 50%;" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FindingImage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">           
            <input type="file" id="imageInput" class="form-control input-field" accept="image/*" onchange="previewImage(event)" style="width: 40%;" />
                        
            <div id="imagePreviewContainer" style="margin-top: 10px;">
                <img id="imagePreview" src="#" alt="Vista previa" style="max-width: 40%; display: none;" />
            </div>
                        
            <input type="hidden" id="imageBase64" name="FindingImage" />

            @Html.ValidationMessageFor(model => model.FindingImage, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Estado de Hallazgo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-7">
            @Html.DropDownList("FindingStatusId", new SelectList(ViewBag.Estados, "Id", "Name"), "-- Seleccione Estado --", new { @class = "form-control", style = "width: 50%" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Tipo de Hallazgo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-7">
            @Html.DropDownList("FindingTypeId", new SelectList(ViewBag.Tipos, "Id", "Name"), "-- Seleccione Tipo --", new { @class = "form-control", style = "width: 50%" })
        </div>
    </div>

    <div class="form-group row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear Hallazgo" class="btn btn-primary" />
            </div>
        </div>

        <div class="mt-4 text-left" style="padding:10px">
            <a href="@Url.Action("Index", "Audit")" class="btn btn-warning btn-sm">Volver a la lista</a>
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>    
    function previewImage(event) {
        var reader = new FileReader();

        reader.onload = function () {            
            var base64String = reader.result;
            
            var preview = document.getElementById('imagePreview');
            preview.src = base64String;
            preview.style.display = 'block';
            
            document.getElementById('imageBase64').value = base64String;
        }
                
        reader.readAsDataURL(event.target.files[0]);
    }
</script>