@model IEnumerable<proyecto.Bussines.Finding>

@{
    ViewBag.Title = "Index Hallazgos";
}

<style>
    
    .estado-1 {
        background-color: #b0a1b37f;
        color: #004085;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }

    .estado-2 {
        background-color: #fff3cd;
        color: #856404;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }

    .estado-3 {
        background-color: #cce5ff;
        color: #8a6d3b;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }

    .estado-4 {
        background-color: #e7141447;
        color: #8a6d3b;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }

    .estado-5 {
        background-color: #d4edda;
        color: #155724;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }
    
</style>

<h2 class="text-center my-4"><strong>Hallazgos</strong></h2>

<div class="container" style="background-color: #f8f9fa; padding: 30px; border-radius: 10px; box-shadow: 0 2px 6px rgba(0,0,0,0.1); font-size: 14px; margin-top: 30px;margin-bottom:30px">

    <div class="text-right" style="margin-bottom: 20px;">
        @using (Html.BeginForm("Index", "Finding", FormMethod.Get, new { @class = "form-inline justify-content-end" }))
        {
            <div class="form-group mx-1" style="border-radius: 20px;">
                @Html.Label("Auditoria", new { @class = "mr-1" })
                @Html.DropDownList("auditId", new SelectList(ViewBag.Audits, "Id", "Name"), "Todos", new { @class = "form-control form-control-sm", @style = "border-radius: 8px; min-width: 150px;" })
            </div>
            <button type="submit" class="btn btn-sm btn-primary ml-2" title="Buscar">
                <i class="fa fa-search"></i>
            </button>
        }
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Estado
            </th>
            <th>
                Departamento
            </th>
            <th>
                Evidencia
            </th>

        </tr>       

        @{
            long? auditoriaActualId = null;
        }

        @foreach (var item in Model)
        {
            if (auditoriaActualId != item.Audit.Id)
            {
                auditoriaActualId = item.Audit.Id;
                <tr style="background-color: #e9ecef;">
                    <td colspan="6">
                        <strong>
                            Auditoria - <a style="color: darkcyan" href="@Url.Action("ViewAudit", "Audit", new { id = item.Audit.Id })"> @item.Audit.Name</a>
                        </strong> @*Departamento: @item.Audit.Department.Name*@
                    </td>
                </tr>
            }

            <tr>
                <td>@item.Name</td>
                <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                @*<td>@item.CreateDate.ToShortDateString()</td>*@
                <td>@item.Description</td>

                <td>
                    <span class="estado-@item.FindingStatus.Id">@item.FindingStatus.Name</span>
                    
                </td>
                <td>@item.Audit.Department.Name</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.FindingImage))
                    {
                        <img src="@item.FindingImage" alt="Evidencia" class="img-thumbnail" style="max-width: 100px; cursor: pointer;" data-toggle="modal" data-target="#imageModal" data-img="@item.FindingImage" />
                    }
                </td>
            </tr>
        }


    </table>
    <div class="mt-4 text-left">
        <a href="@Url.Action("Index", "Audit")" class="btn btn-warning btn-sm">Ver Auditorias</a>
    </div>
</div>

<!-- Modale Evidencia -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" style="margin-top: 80px">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img id="modalImage" src="" class="img-fluid" style="max-height: 50vh;" />
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('#imageModal').on('show.bs.modal', function (e) {
                var trigger = $(e.relatedTarget);
                var imgSrc = trigger.data('img');
                $('#modalImage').attr('src', imgSrc);
            });
        });

    function filtrarAuditorias() {
        var auditId = $("#auditId").val();

        $.ajax({
            url: '@Url.Action("Index", "Finding")',
            data: {
                auditId: auditId
            },
            success: function (response) {
                // Aquí actualizas la vista con el resultado de la búsqueda
                // Por ejemplo, actualizar el listado de auditorías
                $("#auditsTable").html(response);
            }
        });
    }

</script>
