@model IEnumerable<proyecto.Bussines.Finding>

@{
    ViewBag.Title = "Index Hallazgos";

    //bool viewDetailAudit = ViewBag.ViewDetailAudit;
}

<style>
    
    .estado-1 {
        background-color: #BEECF47E;
        color: #004085;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }

    .estado-2 {
        background-color: #F4CABE7F;
        color: #856404;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }

    .estado-3 {
        background-color: #E0BEF47F;
        color: #8a6d3b;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }

    .estado-4 {
        background-color: #e7141447;
        color: #8a6d3b;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }

    .estado-5 {
        background-color: #d4edda;
        color: #155724;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }

    .estado-nuevo {
        background-color: #F3F4BE7F;
        color: #155724;
        border-radius: 5px;
        padding: 2px 8px;
        display: inline-block;
    }
    
</style>

<h2 class="text-center my-4"><strong>Hallazgos</strong></h2>

<div class="container" style="background-color: #f8f9fa; padding: 30px; border-radius: 10px; box-shadow: 0 2px 6px rgba(0,0,0,0.1); font-size: 14px; margin-top: 30px;margin-bottom:30px">

    <div class="text-right" style="margin-bottom: 20px;">
        @using (Html.BeginForm("Index", "Finding", FormMethod.Get, new { @class = "form-inline justify-content-end" }))
        {
            <div class="form-group mx-1" style="border-radius: 20px;">
                @Html.Label("Auditoría", new { @class = "mr-1" })
                @Html.DropDownList("auditId", new SelectList(ViewBag.Audits, "Id", "Name"), "Todos", new { @class = "form-control form-control-sm", @style = "border-radius: 8px; min-width: 150px;" })
            </div>
            <button type="submit" class="btn btn-sm btn-primary ml-2" title="Buscar">
                <i class="fa fa-search"></i>
            </button>
        }
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Estado
            </th>
            <th>
                Tipo
            </th>
            <th>
                Departamento
            </th>
            <th>
                Evidencia
            </th>

        </tr>

        @{
            long? auditoriaActualId = null;
            var hallazgosAgrupados = Model.GroupBy(h => h.Audit.Id);
        }

        @foreach (var grupo in hallazgosAgrupados)
        {
            var auditoria = grupo.First().Audit;
            if (auditoriaActualId != auditoria.Id)
            {
                auditoriaActualId = auditoria.Id;
                <tr style="background-color: #e9ecef;">
                    <td colspan="7">
                        @if (ViewBag.ViewDetailAudit)
                        {
                            <strong>
                                Auditoría - <a style="color: darkcyan" href="@Url.Action("ViewAudit", "Audit", new { id = auditoria.Id })"> @auditoria.Name</a>
                            </strong>
                        }
                        else
                        {
                            <strong style="color: darkcyan">
                                Auditoria - @auditoria.Name
                            </strong>
                        }
                    </td>
                </tr>
            }

            foreach (var hallazgo in grupo.OrderByDescending(h => h.CreateDate))
            {
                <tr>
                    <td>@hallazgo.Name</td>
                    <td>@Html.DisplayFor(modelItem => hallazgo.CreateDate)</td>
                    <td>@hallazgo.Description</td>
                    <td>
                        @{
                            var idEstado = hallazgo.FindingStatus.Id;
                        }
                        @if (idEstado > 5)
                        {
                            <span class="estado-nuevo">@hallazgo.FindingStatus.Name</span>
                        }
                        else
                        {
                            <span class="estado-@hallazgo.FindingStatus.Id">@hallazgo.FindingStatus.Name</span>
                        }

                    </td>
                    <td>
                        <strong style="color:#662ad1">
                            @hallazgo.FindingType.Name
                        </strong>
                        
                    </td>
                    <td>@hallazgo.Audit.Department.Name</td>
                    <td>
                        @if (!string.IsNullOrEmpty(hallazgo.FindingImage))
                        {
                            <img src="@hallazgo.FindingImage" alt="Evidencia" class="img-thumbnail" style="max-width: 100px; cursor: pointer;" data-toggle="modal" data-target="#imageModal" data-img="@hallazgo.FindingImage" />
                        }
                    </td>
                </tr>
            }
        }


    </table>
    <div class="mt-4 text-left">
        <a href="@Url.Action("Index", "Audit")" class="btn btn-warning btn-sm">Ver Auditorias</a>
    </div>
</div>

<!-- Modale Evidencia -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" style="margin-top: 80px">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img id="modalImage" src="" class="img-fluid" style="max-height: 50vh;" />
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('#imageModal').on('show.bs.modal', function (e) {
                var trigger = $(e.relatedTarget);
                var imgSrc = trigger.data('img');
                $('#modalImage').attr('src', imgSrc);
            });
        });

    function filtrarAuditorias() {
        var auditId = $("#auditId").val();

        $.ajax({
            url: '@Url.Action("Index", "Finding")',
            data: {
                auditId: auditId
            },
            success: function (response) {
                // Aquí actualizas la vista con el resultado de la búsqueda
                // Por ejemplo, actualizar el listado de auditorías
                $("#auditsTable").html(response);
            }
        });
    }

    

</script>
